In [2]:
t1=(6,8,9)
t1+(20,)

(6, 8, 9, 20)

In [3]:
t1*3

(6, 8, 9, 6, 8, 9, 6, 8, 9)

In [19]:
fd=("rice","dosa","idle")
mf=list(fd)
mf[1]="paneer"
fd=tuple(mf)
fd
#t=tuple(6,7,9)
type(fd)

tuple

In [8]:
val=(4,8,9)
a,b,c=val
b

8

In [23]:
t1=(1,6.5,10,9.8)
print(t)

(1, 6.5, 10, 9.8)

In [26]:
t2=('a',1,'b',2,'c',3)
print(t2)

('a', 1, 'b', 2, 'c', 3)

In [27]:
t3=("red","green","blue")
print(t3)

('red', 'green', 'blue')

In [33]:
t4=(67,)
t5=56,
type(t4)
type(t5)

tuple

In [36]:
nt=(10,20,(30,40,50),60,70)
print(nt)
print(nt[1])
print(nt[2][1])

(10, 20, (30, 40, 50), 60, 70)
20
40

In [37]:
t6=tuple("hello")
print(t6)

('h', 'e', 'l', 'l', 'o')

In [41]:
ls=[67,90,44,23]
tp=tuple(ls)
print(type(tp))
print(tp)

<class 'tuple'>
(67, 90, 44, 23)

In [44]:
t7=tuple(input('enter elements:'))

enter elements:abcdef

In [45]:
t7

('a', 'b', 'c', 'd', 'e', 'f')

In [46]:
tup=eval(input("enter tuple elements:"))

enter tuple elements:67,'anu','sinu',89

In [47]:
tup

(67, 'anu', 'sinu', 89)

In [1]:
fr=("mango","apple","pineapple","orange")
print(fr[-1])
print(fr[1:5:2])
print(fr[-3:-1])

orange
('apple', 'orange')
('apple', 'pineapple')

In [57]:
fr[1]="cherry"

TypeError: 'tuple' object does not support item assignment

In [59]:
qual=("MSC CS","MSC CHEM","MBA","MCA","M COM")
for i in range(len(qual)):
    print("index:",i," ",qual[i])

index: 0   MSC CS
index: 1   MSC CHEM
index: 2   MBA
index: 3   MCA
index: 4   M COM

In [62]:
t1=(10,20,30)
t2=tuple("anu")
t3=t1+t2
print(t3)

(10, 20, 30, 'a', 'n', 'u')

In [63]:
t3+20

TypeError: can only concatenate tuple (not "int") to tuple

In [65]:
t3+(20,)

(10, 20, 30, 'a', 'n', 'u', 20)

In [67]:
tt=("fa","si")
tt*3

('fa', 'si', 'fa', 'si', 'fa', 'si')

In [2]:
dd=(10,20,30,67,50,88,12,55,48,72)
dt=dd[4:-4]
print(dt)
print(dd[1:6])
print(dd[4:-2])
print(dd[-15:4])
print(dd[::-1])
print(dd[::-2])
print(dd[3:10:2])
print(dd[::3])

(50, 88)
(20, 30, 67, 50, 88)
(50, 88, 12, 55)
(10, 20, 30, 67)
(72, 48, 55, 12, 88, 50, 67, 30, 20, 10)
(72, 55, 88, 67, 20)
(67, 88, 55, 72)
(10, 67, 12, 72)

In [9]:
tp1=(45,90,88,34,78,100,12)
sub1=tp1[::2]
sub=tp1[1::3]
print('sub1:',sub1)
print('sub:',sub)
print(type(sub))
print(sub*3)
tp1[2::2]+(33,77)

sub1: (45, 88, 78, 12)
sub: (90, 78)
<class 'tuple'>
(90, 78, 90, 78, 90, 78)

(88, 78, 12, 33, 77)

In [25]:
a=('anu','sinu')
b=('tinu','minu')
c=('anu','sinu')
print(a==b)
print(a==c)
print(a>b)

False
True
False

In [26]:
a=(100,67)
b=(100.0,67.0)
print(a==b)

True

In [27]:
del(b)
#print(b)

In [38]:
tp=(34,99,80,67,33,100,99)
print('length:',len(tp))
print('max:',max(tp))
print('min:',min(tp))
print('index:',tp.index(67))
print('count(99):',tp.count(99))
print('count(67):',tp.count(67))
print('count(12):',tp.count(12))

length: 7
max: 100
min: 33
index: 3
count(99): 2
count(67): 1
count(12): 0

In [44]:
tp=('tinu','Anu','minu','Msc CS','abi','Anu')
print('length:',len(tp))
print('max:',max(tp))
print('min:',min(tp))
print('index:',tp.index('minu'))
print('count(99):',tp.count('Anu'))
#print('count(67):',tp.count(67))
#print('count(12):',tp.count(12))

length: 6
max: tinu
min: Anu
index: 2
count(99): 2
count(67): 0
count(12): 0

In [46]:
tup=tuple('i am fazeeha kennaz')
print(tup)

('i', ' ', 'a', 'm', ' ', 'f', 'a', 'z', 'e', 'e', 'h', 'a', ' ', 'k', 'e', 'n', 'n', 'a', 'z')

In [49]:
tup=tuple([56,88,34,100])
print(tup)

(56, 88, 34, 100)

In [50]:
tup=tuple({'id1':123,'id2':124,'id3':125})
print(tup)

('id1', 'id2', 'id3')

In [53]:
val=(10,20,30)
a,b,c=val
print(b)
t=(a,b,b)
print(t)

20
(10, 20, 20)

In [58]:
fd=('fried chicken','chocolate','ice cream','biriyani')
my=list(fd)
#print(type(fd))
#print(type(my))
my[1]='juice'
fd=tuple(my)
print(fd)

('fried chicken', 'juice', 'ice cream', 'biriyani')