In [ ]:
def max(a,b,c):
    if(a>b & a>c):
        l=a
    elif b>c :
        l=b
    else:
        l=c
    return l
a1=int(input('number 1 :'))
a2=int(input('number 2:'))
a3=int(input('number 3:'))
print("max number is ",max(a1,a2,a3))

In [ ]:
def fun(name,age):
    print("name :",name)
    print("age :",age)
a1=str(input('enter the name :'))
a2=int(input('enter the age :'))
fun(a1,a2)

In [6]:
myli=[4,7,8,2,3]
new=list(map(lambda i:i*i , myli))
print(new)

[16, 49, 64, 4, 9]

In [7]:
l1=[5,8,9,12,15,11,17]
l2=list(filter(lambda x: x%3==0,l1))
print(l2)

[9, 12, 15]

In [2]:
def fib(n):
    if n<=1:
        return n
    else:
        return (fib(n-1)+fib(n-2))
a=int(input('enter the limit :'))
for i in range(a):
    print(fib(i))

enter the limit :5
0
1
1
2
3

In [ ]:
def fact(n):
    if n==1:
        return n
    else:
        return (n*fact(n-1))
a=int(input('enter the limit :'))
print('factorial is ',fact(a))

In [ ]:
def sum(n):
    if n==1:
        return n
    else:
        return (n+sum(n-1))
a=int(input('enter the limit :'))
print("sum is ",sum(a))

In [1]:
s=0
def armstrong(n):
    global s
    if n>0:
        rem=n%10
        s=s+rem*rem*rem
        armstrong(n//10)
    return(s)
a=int(input('enter the number :'))
if(a==armstrong(a)):
    print("armstrong")
else:
    print("not armstrong")

enter the number :12
not armstrong

In [4]:
from math import sqrt
num=float(input("enter the number : "))
print("sqrt of ",num," = ",sqrt(num))

enter the number25
sqrt of  25.0  =  5.0

In [4]:
import math
num=int(input("enter the number : "))
print("factorial of ",num," = ",math.factorial(num))

enter the number : 5
factorial of  5  =  120

In [22]:
import calendar
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [14]:
num=float(input("enter the number : "))
print(abs(num))

enter the number : -90
90.0

In [19]:
from math import pow
print(pow(4,3))#4^3

64.0

In [21]:
import datetime
print('current date :',datetime.date.today())

current date : 2022-05-09

In [23]:
from datetime import date
print('current date :',date.today())

current date : 2022-05-09

In [24]:
min(23,10,9)

9

In [13]:
max(44,90,66,100)

100

In [8]:
def show(name,salary=9000):
    print("Employee name : ",name)
    print("Salary : ",salary)
#nm=str(input('enter employee name : '))
#sal=int(input('enter employee salary : '))
show('anu',28000)
show('minu')

Employee name :  anu
Salary :  28000
Employee name :  minu
Salary :  9000

In [15]:
def calculation(x,y):
    s=x+y
    d=x-y
    return s,d
b=calculation(20,10)
print("sum : ",b[0]," diff : ",b[1])

sum :  30  diff :  10

In [5]:
def reverse(str):
    str1="".join(reversed(str))
    return str1
str="anna"
print(reverse(str))
if(str==reverse(str)):
    print("palindrome")
else:
    print("not palindrome")

anna
palindrome

In [11]:
def rev(str):
    st=str[::-1]
    return st
print(rev('annu'))

unna

In [16]:
def revv(s):
    st=""
    for i in s:
        st=i+st
        #print(st)
    return st
print(revv('anu'))

a
na
una
una

In [12]:
def reverse(s):
    if(len(s)==0):
        return s
    return reverse(s[1:])+s[0]
#print(reverse('zmu'))
s=str(input('enter the string :'))
if(s==reverse(s)):
    print("palindrome")
else:
    print("not palindrome")

enter the string :anna
palindrome